{{!-- Layout: main.handlebars --}}

<main>
  <section>
    <p>{{description1}}</p>
    <p>{{description2}}</p>
  </section>
</main>
<footer>
  <p>&copy; 2025 SkillPro. Empowering learners every step of the way.</p>
</footer>
