{{!-- Layout: main.handlebars --}}

<main>
  <section>
    <p>{{mainDescription}}</p>
    <a href="/dashboard">My Enrolled Courses</a>

  </section>

  <!-- New Release Section -->
  <section>
      <h2>{{newReleaseTitle}}</h2>
      <p>{{newReleaseDescription}}</p>
  </section>

</main>


